/*==================cervezas.html======================*/

.container-beer{
    background: url(../assets/textura_bg.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    padding-left: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.container-beer .card-beer{
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px;
    height: 80vh;
    width: 100%;
}

.card-beer .imagen{
    display: flex;
    padding: 20px 50px 0px 50px;
    height: 100%;
}

.container-beer .descripcion{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 80px 30px 80px;
}

.container-beer .descripcion h3{
    font-size: 2.5rem;
}

.container-beer .descripcion ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
}

.container-beer .descripcion ul li{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: flex-end;
}

/*===============fin-cervezas.html=====================*/